<p id="notice"><%= notice %></p>

<h1>Subusers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Avatar path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subusers.each do |subuser| %>
      <tr>
        <td><%= subuser.name %></td>
        <td><%= subuser.avatar_path %></td>
        <td><%= link_to 'Show', subuser %></td>
        <td><%= link_to 'Edit', edit_subuser_path(subuser) %></td>
        <td><%= link_to 'Destroy', subuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subuser', new_subuser_path %>
